.fa-heart {
  color: black;
  cursor: pointer;
}

.toggle {
  color: red;
  cursor: pointer;
}

.container {
  background-color: rgb(157, 152, 152);
  display: grid;
  justify-content: initial;
  text-align: justify;
}

table {
  margin: 35px;
  box-shadow: 10px 10px 8px 10px #888888;
}

th,
td {
  border-bottom: 1px solid #ddd;
  font-size: large;
}

img {
  border-radius: 10px;
  width: 200px;
  height: 170px;
}

.del {
  display: contents;
}

td .btn-cont {
  display: flex;
  justify-content: flex-start;
}

.plus,
.minus {
  display: list-item;
  width: 35px;
  height: 60px;}